/* --------------------
CSS
作成日：2025/02/
作成者：穗刈瑚乃歌
サイト名：ひまわりそろばん教室
-------------------- */

@charset "UTF-8";

@font-face {
    font-family: "Bokutachi Gothic 2";
    src: url("../img/Boku2-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------
    初期設定
------------------------------- */
html {
    font-size: 100%;
}

body {
    color: #32415a;
    background-color: #ffb37e;
    font-family: "Bokutachi Gothic 2", sans-serif;
    font-size: 1.250rem;
    line-height: 2;
    letter-spacing: 1.5px;
}

img {
    max-width: 100%;
}

a {
    color: #32415a;
    text-decoration: none;
}

a:hover {
    color: #ffb37e;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------
    共通設定
------------------------------- */
.wrapper {
    padding: 65px 0;
    display: block;
    
}

.section-style {
    width: 560px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 40px;
}

.site-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.section-title {
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    margin-bottom: 16px;
    border-bottom: 1px solid #63c9bb;
}

.section-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 32px 0 16px;
}

.section-text {
    margin-bottom: 20px;
}

/* ------------------------------
    header
------------------------------- */
#header {
    width: 560px;
    background-color: #fff7e8;
    margin: 0 auto;
    border-radius: 40px 40px 0 0;
    padding: 40px 40px 0;
}

#header .site-title {
    height: 150px;
    background-image: url(../img/sunflower1.png), url(../img/sunflower2.png);
    background-position: left bottom, right bottom;
}

/* ------------------------------
    deco
------------------------------- */
.left-deco-style {
    width:calc(50% - 280px);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.nav-left {
    writing-mode: vertical-rl;
    background-color: #ffffff;
    border-radius: 40px ;
    font-size: 1.5rem;
    position: fixed;
    top: 65px;
    padding: 60px 0px;
}

.left-deco li {
    display: flex;
    margin: 0 5px;
    position: relative;
}

.left-deco li:before {
    font-family: "Font Awesome 6 Free";
    content: "\f4d8";
    font-weight: 900;
    color: #ffb37e;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    transition: opacity 0.3s;
    opacity: 0;
}

li:hover:before {
    opacity: 1;
}

.right-deco-style {
    width:calc(50% - 280px);
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    right: 0;
    bottom: 65px;
}

.right-deco a {
    width: 260px;
    height: 260px;
    background-image: url(../img/button-flower.png);
    top: 350px;
    color: #32415a;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-deco a:hover {
    background-image: none;
    border-radius: 50%;
    color: #ffffff;
    background-color: #63c9bb;
    border: 5px solid #ffffff
}

/* ------------------------------
    classroom
------------------------------- */
#classroom {
    background-image: url('../img/background-wave.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
}

#classroom .section-title {
    height: 100px;
    background-image: url(../img/number1.png);
    background-position: left center;
}

#classroom .section-subtitle {
    text-align: center;
    margin: 20px 0;
}

#classroom .section-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#classroom .section-bottom img {
    border-radius: 10px;
    width: 230px;
    height: 160px;
    filter: drop-shadow(1px 1px 2px #32415a);
}

.img-left,
.img-right {
    position: relative;
}

.img-left img,
.img-right img {
    width: 100%;
    height: auto;
    display: block;
}

.img-left {
    margin-top: 55px;
}

/* ------------------------------
    charm
------------------------------- */
#charm {
    background-image: url('../img/background-wave.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
}

#charm .section-title {
    height: 100px;
    background-image: url(../img/number2.png);
    background-position: left center;
}

.charm-style {
    background-image: url(../img/abacus-picture.png);
    background-position: right center;
}

/* ------------------------------
    guidance
------------------------------- */
#guidance {
    background-image: url('../img/background-wave.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
}

#guidance .section-title {
    height: 100px;
    background-image: url(../img/number3.png);
    background-position: left center;
}

.flex {
    display: flex;
}

#guidance .section-bottom {
    background-image: url(../img/friends.png);
    background-position: right bottom;
}

/* ------------------------------
    contact
------------------------------- */
#contact {
    background-image: url('../img/background-wave.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
}

#contact .section-title {
    height: 100px;
    background-image: url(../img/number4.png);
    background-position: left center;
}

.table {
    width: 100%;
    margin: 50px 0;
}

.table th {
    width: 110px;
    padding: 3px;
    border: 1px solid #32415a;
}

.table thead {
    background-color: #ffd37e;
    font-size: 1.5rem;
    text-align: left;
}

.table td {
    border-bottom: 1px solid #32415a;
    border-right: 1px solid #32415a;
    padding: 3px;
    line-height: 1.5;
}

.section-map iframe {
    width: 100%;
    height: 350px;
}

/* ------------------------------
    button
------------------------------- */
#button {
    text-align: center;
}

.btn-style {
    width: 250px;
    height: 64px;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #32415a;
    outline: none;
    transition: all 0.2s ease;
    text-decoration: none;
}

.btn-style:hover {
    border-color: transparent;
}

.btn-style span {
    position: relative;
    z-index: 2;
    display: block;
    padding: 8px 0px;
    background-color: #ffb37e;
    border-radius: 25px;
    color: #32415a;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
}

.pushdown::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #32415a;
    transition: all 0.3s ease;
}

.pushdown:hover span {
    background-color: #63c9bb;
    color:#ffffff;
    border: 1px solid #32415a;
    transform: translateY(4px);
}

/* ------------------------------
    footer
------------------------------- */
#footer {
    width: 560px;
    background-color: #fff7e8;
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
    padding: 40px 40px 20px;
}

#footer ul {
    background-image: url(../img/sunflower1.png), url(../img/sunflower2.png);
    background-position: left bottom, right bottom;
    margin-bottom: 30px;
}

#footer li {
    text-align: center;
    margin-bottom: 8px;
}

#footer li:last-child {
    margin-bottom: 0;
}

.copy-right {
    font-size: 0.625rem;
    text-align: center;
}

/* ------------------------------
    レスポンシブ
------------------------------- */
@media screen and (max-width: 1100px) {
    .left-deco,
    .right-deco {
        display: none;
    }
}

@media screen and (max-width:560px) {
    body {
       letter-spacing: normal; 
    }

    .wrapper {
        width: 100%;
    }

    .maincontent {
        width: 100%;
    }

    #header,
    #footer,
    .section-style {
        width: 100%;
        padding: 40px 10px;
    }

    .site-title {
        font-size: 2.0rem;
    }
    
    .section-title {
        font-size: 1.75rem;
    }
    
    .section-subtitle {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .section-text {
        margin-bottom: 10px;
    }

    /* header */
    #header .site-title {
        height: 90px;
    }

    /* classroom */
    #classroom .section-subtitle {
        text-align: left;
    }

    .img-left {
        width: 100%;
        z-index: 1;
    }

    .img-right {
        position: absolute;
        top: 10%;
        right: 0;
        opacity: 0.9;
    }

    /* charm */
    .charm-style {
        background-image: none;
    }

    /* guidance */
    #guidance .section-bottom {
        background-image: none;
    }
}